body{
  background-color: black;
}
.welcome-box {
  max-width: 32rem;
  display: flex;
  width: 100%;
}
.welcome-box-text {
  max-width: 22rem;
}
.welcome-box-image {
  flex: 1;
  background-image: url("assets/images/logos/recycled_heart.png");
  filter: invert(37%) sepia(85%) saturate(7468%) hue-rotate(295deg) brightness(113%) contrast(129%) drop-shadow(0 0 10px #ff00ff);
  background-size: auto 5rem;
  background-repeat: no-repeat;
  background-position: right center; 
}
h2 {
  text-shadow: 0 0 10px #00ff00;
  font-family: Courier;
  color: lime;
  vertical-align: center;
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
.album-list{
  white-space: nowrap; 
  display: inline-block;
  width: 30rem;
  height: 7rem;
  overflow-y: hidden;
  overflow-x: scroll;
  background-color: black;
  scrollbar-color: #3d3f41 black;
  scrollbar-width: thin;
  margin-top: 5px;
}
.album-cover-preview{
  object-fit: contain;
  width: 6rem;
  height: 6rem;
  margin-left: 5px;
  margin-right: 5px;
}
.album-title-header-box{
  overflow: auto;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  padding: 0;
  display: inline-flex;
  text-align: bottom;
  vertical-align: bottom;
}
.album-title-text{
  font-family: Courier;
  color: magenta;
  filter: drop-shadow(2px 2px yellow) blur(1px);
  font-size: 2rem;
  margin: 0;
  display: inline;
}
.album-year-text{
  font-family: Courier;
  font-weight: bold;
  color: orange;
  text-shadow: 0 0 10px orange;
  text-align: bottom;
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
  display: flex;
  align-items: flex-end;
}
.song-title-left {
  text-shadow: 0 0 10px #00ff00;
  font-family: Courier;
  color: lime;
  vertical-align: bottom;
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
  align-content: left;
  display: inline;
}
.album-side-title-text{
  padding: 0;
  margin: 0;
  margin-left: 1rem;
  text-shadow: 0 0 10px orange;
  font-family: Courier;
  color: orange;
  vertical-align: bottom;
  font-size: 1.5rem;
}
audio {
  filter: invert(100%) contrast(200%);
}
.song-parent {
  margin: 0;
  padding: 0;
  margin-left: 3rem;
  display: flex;
  align-items: left;
  vertical-align: bottom;
  max-width: 480px;
}
.play-button {
  background-color: transparent;
  background-image: url("assets/images/icons/play_button.svg");
  background-size: 1.5rem 1.5rem;
  height: 1.5rem;  
  width: 1.5rem;
  display: inline;
  vertical-align: text-bottom;
  border: none;
  padding: 0;
  margin-bottom: 0.1rem;
}
.pause-button {
  background-color: transparent;
  background-image: url("assets/images/icons/pause_button.svg");
  background-size: 1.5rem 1.5rem;
  height: 1.5rem;  
  width: 1.5rem;
  display: inline;
  vertical-align: text-bottom;
  border: none;
  padding: 0;
  margin-bottom: 0.1rem;
}
.main-player-box{
  border: 1px outset #3d3f41;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 4px 3px #3f4141 inset;
  width: 28rem;
  background-color:#707770;  
  padding: 1rem;
  background-image: repeating-linear-gradient(36deg, rgba(255,255,255, 0.1), rgba(255,255,255, 0.1) 1px, transparent 0px, transparent 2px);
}
.main-player-text-display-box{
  display: grid;
  place-items: center;
  border: 2px inset #3d3f41;
  border-radius: 0.5rem;
  background: #bbbbbb;
  padding: .05rem;
  width: 28rem;
}
.main-player-images-box{
  display: flex;
  place-items: end;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 0rem;
  height: 10rem;
  width: 22rem;
}
.main-player-now-playing-image-display-box{
  height: 10rem;
  width: 10rem;
  background-color: #bbbbbb;
  margin-right: 2rem;
  filter: drop-shadow(0.25rem 0.25rem #777777);
}
.main-player-now-playing-image{
  height: 10rem;
  width: 10rem;
  filter: saturate(50%);
}
.main-player-animation-image-display-box{
  height: 6rem;
  width: 6rem;
  background-color: #aaaaaa;
  border-style: solid;
  border-color: #aaaaaa;
  border-width: 1rem;
  border-radius: 1rem;
  filter: drop-shadow(0.25rem 0.25rem #777777);
}
.main-player-animation-image{
  height: 6rem;
  width: 6rem;
}
.main-player-progress-bar{
  display: flex;
}
.main-player-duration-box{
  position: relative;
  background-color: #777777;
  margin: 0.5rem;
  height: 0.5rem;
  width: 22rem;
}
.main-player-current-time-box{
  position: absolute;
  background-color: #555555;
  margin: 0.5rem;
  margin-top: 0rem;
  margin-left: 0;
  margin-right: 0;
  height: 0.5rem;
  max-width: 22rem;
  width: 0rem;
}
.main-player-duration-text{
  margin-top: 0.3rem;
  display: flex;
  max-width: 7rem;
  width: auto;
  font-family: Courier;
  font-size: 0.75rem;
}
.main-player-text{
  font-family: Courier;
  color: black;
  font-size: 1.5rem;
  margin: 0.5rem;
  text-shadow: 1px 1px 2px #3f4141;
}
.main-player-controls-box{
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-top: 0.5rem;
}
.main-player-button{
  border: 1px outset #3d3f41;
  border-radius: 0.5rem;
  background-color:#727972;  
  border-radius: 0.5rem;
  box-shadow: 0px 0px 3px 3px #a4acac inset;
  margin-left: 5px;
  margin-right: 5px;
}
.main-shuffle-button {
  background-color:#727972; 
}
.main-unshuffle-button {
  background-color:#3d3f41; 
}
.crt {
  background: linear-gradient(to top, #000500, #001500, #000500, #000500, #001800,#000500);
  background-size: cover;
  background-size: 100% 2px;
  animation: scanlines infinite 50s linear;
}
@keyframes scanlines{
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -10px;
  }
}